.chessBoard {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid red;
}
.chessBoard #myBoard {
    width: 100%;
    aspect-ratio: 1/1;
border: 2px solid red;
}

#top,
#bottom {
    border: 2px solid red;
    width: 100%;
    padding: 10px 20px;
display: flex;
justify-content: space-between;
}

.moves{
  display: flex;
  border: 2px solid red;

}

.moves >*{
flex:1;
  flex-direction: column;
  list-style-type: none;
}

.moves li{
  background-color: rgb(158, 158, 158);
  border: 2px solid black;
  margin:20px  5px;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}