form{
    margin-top: 100px;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}

form>*{
    margin: 5px 20px;
    padding: 10px;
    /*  */
}

form label{
    font-size: 20px;
    text-transform: capitalize;
    width: 100px;
    margin-right:20px;
    /*  */
    padding: 5px;
}
form input{
    font-size: 20px;
  padding: 5px;
}
form .form-group{
display: flex;
justify-content: space-between;
}

form .btn{
    width: 345px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: blue;
    padding: 10px 25px;
    margin-top: 10px;
    margin-left: 35px;
    border: 2px solid black;
}

.btn i{
    margin-right: 10px;
    display: none;
  }

  .message{
    color: red;
  }